*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.preload * {
    transition: none !important;
}

.header {
    width: 100%;
    height: 48px;
    padding-left: 16px;
    background-color: #212121;
}

#nav-btn {
    display: none;
}

#nav-btn:checked + label .nav__button span:nth-child(1) {
    transform: rotate(45deg);
    top: 4px;
    transition: top .32s ease-in-out, transform .32s ease-in-out .32s;
}

#nav-btn:checked + label .nav__button span:nth-child(2) {
    transform: rotate(-45deg);
    top: -4px;
    transition: top .32s ease-in-out, transform .32s ease-in-out .32s;
}

#nav-btn:checked ~ .nav__items {
    transform: scaleY(1);
    opacity: 1;
}

.nav__button {
    position: relative;
    top: 18px;
    display: block;
    width: 24px;
    height: 24px;
}

.nav__button span {
    position: relative;
    top: 0;
    display: block;
    height: 1px;
    background-color: #ffffff;
    transition: transform .32s ease-in-out, top .32s ease-in-out .32s;
}

.nav__button span:nth-child(2) {
    margin-top: 8px;
}

.nav__items {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 16px 0 0 16px;
    background-color: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform .32s ease-in-out .32s, opacity .32s ease-in-out .32s;
    opacity: 0;
}

.nav__items .nav__item {
    margin-top: 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, .24);
    color: #ffffff;
    cursor: pointer;
}
